<% content_for(:title, "New Account | Share Your Photos!") %>
<div class='container'>
  <h3><u>Add a User Account</u></h3>
    <%= render('form') %>
  <br><br><br>
  <hr>
  <h4><%= link_to "Login to Your Account", new_session_path %></h4>
</div>
