<% content_for(:title, "Upload Photo | Share Your Photos!") %>
<div class='container'>
  <h3><u>Upload a New Photo</u></h3>

  <br><br><br>
  <hr>
  <h4><%= link_to "Login to Your Account", root_url %></h4>
</div>
